@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS in your stylesheets or style tags */

/* Style for the footer container */
.flowbite-footer {
  background-color: #1e293b;
  padding: 40px 0;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Style for the social media handles */
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #ffffff;
  text-decoration: none;
}

/* Style for the contact information */
.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

/* Style for the divider */
.divider {
  border-bottom: 1px solid #ffffff;
  margin: 20px 0;
}

/* Style for the copyright text */
.text-center {
  text-align: center;
}
.column{
  margin-top:10px;
}