.container {
  text-align: center;
  width: 100%;
  margin: auto;
  // margin-top: 2%;
  // padding-top: 50px;
  // background-color: rgb(81, 75, 75);
  // background-color: rgb(19, 18, 18);
  // display: inline;
}
.container h1 {
  color: white;
  font-weight: 700;
}
.row {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0% 8%;
}
@media (max-width: 770px) {
  .row {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  #id1 {
    display: none;
  }
}
#id1 {
  background-image: linear-gradient(
    to right,
    rgb(61, 78, 210),
    rgb(232, 90, 90)
  );
  align-items: center;
  text-align: center;
  // border: 2px solid rgb(235, 80, 235);
}
// #id1 p{
//   text
// }
#id1 h1 {
  margin: auto;
  margin-top: 20%;
}
.col {
  flex-basis: 45%;

  width: 50%;
  padding: 2% 4%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 9%;
  // text-align: left;
  text-align: justify;
  background-color: rgb(71, 71, 71);
}
@media (max-width: 770px) {
  .col {
    width: 100%;
  }
}
.col img {
  width: 100%;
  border-radius: 50%;
  display: block;
}
.col p {
  padding: 0;
  pointer-events: none;
  color: rgb(181, 179, 179);
}
.col h3 {
  color: rgb(221, 216, 216);
}
@media (max-width: 770px) {
  .col h3 {
    position: relative;
  }
}
@media (max-width: 800px) {
  .col img {
    margin-bottom: 15px;
  }
}
.sub_para {
  color: rgb(225, 219, 219);
}
@media (min-width: 770px) {
  .col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }
}
.nextArrow {
  position: absolute;
  bottom: -15%;
}
.prevArrow {
  position: absolute;
  bottom: -15%;
}
.maincontainer {
  background-image: url("https://crust.winsomethemes.com/original-dark-elementor/wp-content/uploads/sites/70/2021/11/dark-bg-3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.submaincontainer {
  // background-color: rgba(38, 37, 37, 0.8);
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
}
